.App {
  text-align: center;
  background-color: #21252e;
  height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 2vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Task {
  display: center;
  width: fit-content;
  min-width:50vw;
  background-color: #282c34;
  align-content: center;
  margin-top:5px;
  margin-bottom:5px;
  margin-left:auto;margin-right:auto;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius:20px;
}

.TaskUncompleted {
  background-color: #282c34 !important;
}

.TaskCompleted {
    background-color: white !important;
}

.Heading {
  color: white;
}

.Subheading {
  color: white;
  text-decoration-color: white;
}

.Grid {
  background-size: 40px 40px;
  background-color: black;
  background-image: linear-gradient(to right, white 1px, transparent 1px), linear-gradient(to bottom, white 1px, transparent 1px);
  height: 60vh;
}

.Main {
  /* background-color: #21252e; */
}

.TaskButton {
  padding:5px;
  border-radius:8px;

  background-color: rgb(193, 41, 41);
  border: none;
  color: white;
  text-align: center;
  margin-bottom: 10px;
}

.PlusButton {

  background-color: #d44949;
  height: 50px;
  position: absolute;
  outline: 0;
  display: block;
  color: #fff;
  border-radius: 100%;
  width: 50px;
  margin-left:auto;margin-right:auto;
}

.PlusLetter {
  text-align: center;
  line-height: 50px;
  font-size: 30px;
}