.App {
  text-align: center;
  background-color: #21252e;
  height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 2vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Task__Completed__false {
  display: center;
  width: fit-content;
  min-width:50vw;
  max-width:80vw;
  background-color: #282c34;
  align-content: center;
  margin-top:5px;
  margin-bottom:5px;
  margin-left:auto;margin-right:auto;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius:20px;
}

.Task__Completed__true {
  display: center;
  width: fit-content;
  min-width:50vw;
  max-width:80vw;
  background-color: #282c34;
  opacity: 0.3;
  align-content: center;
  margin-top:5px;
  margin-bottom:5px;
  margin-left:auto;margin-right:auto;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius:20px;
}
.Heading {
  color: white;
}

.Subheading {
  color: white;
  text-decoration-color: white;
}

.Grid {
  background-size: 40px 40px;
  background-color: black;
  background-image: linear-gradient(to right, white 1px, transparent 1px), linear-gradient(to bottom, white 1px, transparent 1px);
  height: 60vh;
}

.Main {
  /* background-color: #21252e; */
}

.TaskButton__Completed__false {
  padding:5px;
  border-radius:8px;

  background-color: rgb(41, 183, 193);
  border: none;
  color: white;
  text-align: center;
  margin-bottom: 10px;
}

.TaskButton__Completed__true {
  padding:5px;
  border-radius:8px;

  background-color: rgb(193, 41, 41);
  border: none;
  color: white;
  text-align: center;
  margin-bottom: 10px;
}

.PlusButton {
	background-color:transparent;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	border:4px solid #18ab9c;
	display:inline-block;
	cursor:pointer;
	color:#18ab9c;
	font-family:Arial;
  font-size:28px;
  margin-top:12px;
	padding:14px 22px;
	text-decoration:none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  
}

.modal-main {
  position:fixed;
  background: rgb(32, 34, 52);
  width: fit-content;
  min-width: 50vw;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  border-radius:20px;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.ModalSubheading {
  color: white;
  text-decoration-color: white;
}

.addTaskButton {
  margin-top:10px;
  padding:5px;
  border-radius:8px;
  background-color: rgb(41, 183, 193);
  border: none;
  color: white;
  text-align: center;
  margin-bottom: 5px;
}

.DeleteButton {
  margin-right: 10px;
  padding:5px;
  border-radius:8px;
  background-color: rgb(193, 41, 41);
  border: none;
  color: white;
  text-align: center;
  margin-bottom: 10px;
}